*{
    margin: 0;
    padding: 0;;
}

header {
    float: left;
}

body{
    background: #d9d9d9;
}

label {
    color: rgba(0,0,0,1);
    /* border: 2px solid rgba(200,200,255,1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget{
    color: white;
    background-color:rgba(155,155,155,1);
    border: 3px solid rgba(155,155,155,1);
    border-radius: 5px;
    /* box-shadow: none; */
}

.form_user{
    height: 170px;
    width: 300px;
    border: 6px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    position: relative;
}

.button_submit {
    color: white;
    background-color: blue;
    border: 6px solid blue;
    border-radius: 10px;
}

.button_submit:hover{
    color:#000000;
    background-color: rgb(200,200,255,1);
    border: 6px solid blue;
    border-radius: 10px;
    cursor: pointer;
}

.button_new {
    color: white;
    background-color: green;
    border: 3px solid green;
    border-radius: 6px;
}

#main
{
    background-color: white;
    border:5px solid #000000;
    border-radius: 10px;
}

#btn_new
{
    position: relative;
    left: 70px;
}

#navbar
{
    background-color: blue;
}